/*TODO: add/migrate to scss or less compiler */
.blockTwoIrregContainer {
    position: relative;
    display: block;
    float: right;
    left: 0px;
    top: 0px;
    width: 30%;
    height: 500px;
    background-color: #FFD69A;
    -webkit-clip-path: polygon(42% 0, 100% 0, 100% 100%, 29% 100%, 10% 45%);
    clip-path: polygon(42% 0, 100% 0, 100% 100%, 29% 100%, 10% 45%);
}
