main_container{
    height:100%;
    position:absolute;
}
.flex_container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.front_layer {
    background-color: azure;
    width: 200%;
    height: 100px;
    box-shadow: 5px 10px 8px #888888;
}

.back_layer {
    background-color: aquamarine;
    width: 200%;
    height: 200px;
    box-shadow: 5px 10px 8px #888888;
}
